In [21]:
%load_ext autoreload
%autoreload 2

In [22]:
import os
import json
import pandas as pd
import numpy as np

import tftinsights.compositions 
from tftinsights.units import get_unit_list, count_traits
from tftinsights.compositions import build_conditional_comp

In [23]:
dataset = pd.read_csv('csv/flattened_matches.csv')
summonUnits = ['unit_TFT14_AnnieTibbers', 'unit_TFT14_SummonLevel2', 'unit_TFT14_SummonLevel4', 'unit_TFT14_Summon_Turret']

#Filtering our data
df = dataset[dataset['queue_id']== 1100].copy() #ranked data only
df = df[df['placement'] <= 4].copy()

In [34]:
from tftinsights.units import get_unit_list, count_traits
t = count_traits ( team_comp )
t

         name                         traits  cost  unitplannerid  \
0     Alistar           [Golden Ox, Bruiser]     1            786
16     Graves       [Golden Ox, Executioner]     2            789
18  Jarvan IV  [Golden Ox, Vanguard, Slayer]     3            788
1       Annie            [Golden Ox, A.M.P.]     4            790
2    Aphelios          [Golden Ox, Marksman]     4           1818
26      Leona        [Anima Squad, Vanguard]     4            783
53      Xayah        [Anima Squad, Marksman]     4            767

        trait_1      trait_2 trait_3              id
0     Golden Ox      Bruiser     NaN   TFT14_Alistar
16    Golden Ox  Executioner     NaN    TFT14_Graves
18    Golden Ox     Vanguard  Slayer    TFT14_Jarvan
1     Golden Ox       A.M.P.     NaN     TFT14_Annie
2     Golden Ox     Marksman     NaN  TFT14_Aphelios
26  Anima Squad     Vanguard     NaN     TFT14_Leona
53  Anima Squad     Marksman     NaN     TFT14_Xayah
['trait_1', 'trait_2', 'trait_3']

Golden Ox      5
Vanguard       2
Marksman       2
Anima Squad    2
Executioner    1
Bruiser        1
A.M.P.         1
Slayer         1
Name: count, dtype: int64

In [42]:
from tftinsights.units import get_mapping_table_for_traits
m = get_mapping_table_for_traits()
m

                             id            name
19          unit_TFT14_Immortal       Golden Ox
20            unit_TFT14_Cutter     Executioner
21            unit_TFT14_Strong          Slayer
22          unit_TFT14_Marksman        Marksman
23            unit_TFT14_Techie          Techie
24        unit_TFT14_Controller      Strategist
25         unit_TFT14_Armorclad         Bastion
26       unit_TFT14_Supercharge          A.M.P.
27            unit_TFT14_HotRod           Nitro
28         unit_TFT14_Cyberboss       Cyberboss
29        unit_TFT14_Divinicorp      Divinicorp
30        unit_TFT14_EdgeRunner         Exotech
31           unit_TFT14_Bruiser         Bruiser
32           unit_TFT14_Thirsty          Dynamo
33               unit_TFT14_Mob       Syndicate
34            unit_TFT14_Netgod  God of the Net
35             unit_TFT14_Swift       Rapidfire
36       unit_TFT14_StreetDemon    Street Demon
37        unit_TFT14_AnimaSquad     Anima Squad
38             unit_TFT14_Suits          Cypher
39         unit_TFT14_BallisTek         BoomBot
40          unit_TFT14_Vanguard        Vanguard
41  unit_TFT14_ViegoUniqueTrait     Soul Killer
42          unit_TFT14_Overlord        Overlord
43             unit_TFT14_Virus           Virus

In [33]:


#def get_unit_list (traits="",cost="", units_only=False, add_prefix=False):def get_unit_list (traits="",cost="", units_only=False, add_prefix=False):
unit_list=tftinsights.units.get_unit_list( cost="1234" , units_only=True, add_prefix=True)

#def build_conditional_comp ( team_size, conditional_units, unit_pool:list, df:pd.DataFrame ):
team_comp = build_conditional_comp ( 7 , ['Alistar'], unit_list, df )
team_comp

['unit_TFT14_Alistar',
 'unit_TFT14_Jarvan',
 'unit_TFT14_Aphelios',
 'unit_TFT14_Annie',
 'unit_TFT14_Graves',
 'unit_TFT14_Leona',
 'unit_TFT14_Xayah']

In [41]:
trait_csv = pd.read_csv('csv/trait_stats.csv')
trait_csv

,Unnamed: 0,index,trait,trait_level,frequency,avg_placement,top4_rate_pct,top1_rate_pct
0,0,34,trait_TFT14_EdgeRunner,4,2,1.5,100.0,50.0
1,1,3,trait_TFT14_AnimaSquad,4,29,1.5,96.6,79.3
2,2,50,trait_TFT14_StreetDemon,4,38,1.7,92.1,78.9
3,3,23,trait_TFT14_Cyberboss,3,251,3.4,69.7,23.9
4,4,44,trait_TFT14_Mob,3,45,3.3,68.9,33.3
...,...,...,...,...,...,...,...,...
71,71,35,trait_TFT14_HotRod,1,90,5.0,42.2,6.7
72,72,67,trait_TFT14_Techie,4,58,4.8,39.7,12.1
73,73,22,trait_TFT14_Cyberboss,2,142,5.5,31.7,4.2
74,74,55,trait_TFT14_Suits,2,45,5.8,26.7,15.6
75,75,59,trait_TFT14_Supercharge,3,346,5.9,21.7,2.0

In [43]:
trait_level = count_trait_level ( team_comp )
trait_level

NameError: name 'count_trait_level' is not defined